body{
    margin: 0;
    padding: 0;
    
}

.topmenu1{
    display: flex;
    background-color: rgba(248, 248, 239, 0.607);
    color: black;
    padding: 10px;
    
}

.menu{
    position:relative ;
    padding: 5px;
    left: 55%;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 40px;
    
    
}

.menu:hover{
    border-bottom: 2px solid black;
}




.topmenu2{
    background-image: url('./img31.jpeg');
    height: 300px;
}
.logo{
    height: 50px;
    padding: 5px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    margin-left: 160px;
    
  }
  
  li a {
    display: flex;
   text-decoration: none;
    color: #f9f9f9;
    padding: 7px;
    margin-top: 10px;
    
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
    color: #f9f9f9;
    padding: 7px;
    margin-top: 13px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
    width: 100%;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    width: 100%;
    background-color: #f9f9f9;
  }

  .topmenu2:hover .top i{
    background-color: #f9f9f9;
    color: black;
  }

  .topmenu2 i{
    padding: 0px;
    margin-top:24px ;
    margin-left: 35px;
    text-decoration: none;
    color: aliceblue;
    flex-wrap: wrap;
    
    

}

.top:hover{
    background-color: #f9f9f9;
    color: black;
    border-bottom: 2px solid black;
}

.med{
    color: aliceblue;
    text-align: center;
    margin-bottom: 100px;
 }

 .med h2{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-size:20px;

}

.med h1{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;


}

.butt{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    left: 500px;
    margin-bottom: 200px;
}


button{
    position: relative;
    background-color: transparent;
    width: 150px;
    border: none;
    border: 1px solid white;
    color: aliceblue;
    padding: 7px;
    border-radius: 5px;
    bottom: 80px;
}

button:hover{
    background-color: aliceblue;
    color: black;
}


.baner{
    background-color:black;
    height: 450px;
    width: 100%;
    padding: 1px;
    color: #f9f9f9;
}

.baner h1{
    margin-left: 180px;
    
}

.baner p{
    position: relative;
    margin-left: 180px;
    bottom: 20px;
    
}

.img3{
    position: relative;
    height: 280px;
    bottom:600px ;
    left: 180px;
    width: 600px;
     
}

.butt2{
    margin-top: 90px;
    margin-left: 180px;
}

.img4{
    position: relative;
    height: 550px;
    left: 760px;
    bottom: 280px;
}




  .imge33{
    display: flex;
    margin-top: 70px;
    margin-left: 170px;
    
  }

  .i2{
    height: 270px;
    width: 270px;
    padding: 3px;
    
  }


  .i1 a{
    color: black;
  }

  .top{
    line-height: 0px;
    margin-left: 20px;
  }

  .mid{
    margin-top: 0px;
    margin-left: 20px;
  }

  .lnk{
    margin-top: 0px;
    margin-left: 20px;
  }

  .slider{
    background-image: url('./771.jpg');
    height: 100vh;
    width: 100%;
    margin-top: 30px;
  }
 